<!DOCTYPE html>
<!--[if lte IE 6]>
	<style>#top, #bottom, #left, #right { display: none; }</style>
<![endif]-->
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<meta charset="utf-8">
		<title>Quizzes by @litenmendryg</title>

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="column">
					<div class="wrapper">	
						<div class="header">
							<a href="{% url "index_page" %}">
								<img src="/static/quizz_portrait.jpg">
							</a>
								<p>Quizzes about internetz and social things.</p>
								<p>By <a href="https://twitter.com/litenmendryg">@litenmendryg</a></p>
						</div>
					</div>
					
					{% for quiz_slug, quiz in quizzes.items %}
					<div class="wrapper">	
						<div class="whole-guestion">
   	 						<p class"question">
   	 							<a href="{% url "quiz_page" quiz_slug %}">
							{{ quiz.name }}
								</a>
							</p>
						</div>	
					</div>
							{% endfor %} 
								
					
				</div>
			</div>
		</div>	
		
		<div class="footer">
	
		</div>	

	</body>

</html>