<!DOCTYPE html>
<!--[if lte IE 6]>
	<style>#top, #bottom, #left, #right { display: none; }</style>
<![endif]-->
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<meta charset="utf-8">
		<title>Quiz by @litenmendryg</title>

	</head>

	<body>
		<!--
		<div id="left"></div>
		<div id="right"></div>
		<div id="top"></div>
		<div id="bottom"></div>
		-->
	
		
		<div class="container">
			<div class="row">
				<div class="column">

					<div class="wrapper">	
						<div class="header">
							<a href="index.html">
								<img src="/static/quizz_portrait.jpg">
							</a>
							
								<p>Quizzes about internetz and social things.</p>
								<p>By <a href="https://twitter.com/litenmendryg">@litenmendryg</a></p>
						</div>
					</div>
					<div class="wrapper">	
						<div class="whole-guestion">
							<p class="question">	
								{% for quiz_slug, quiz in quizzes.items %}
								<p>{{ quiz.name }}</p>
								{% endfor %}
							</p>	 
							<p> 
								What do you know about the biggest social network?
							</p>	
						</div>	
					</div>
				</div>
			</div>
		</div>	
		
		<div class="footer">
	
		</div>	

	</body>

</html>