<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<meta charset="utf-8">
		<title>Ze Cat Quizz</title>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="column">

					<div class="wrapper">	
						<div class="header">
							<a href="{% url "index_page" %}">
								<img src="/static/quizz_portrait.jpg">
							</a>
							
								<p>Quizzes about CATS.</p>
								<p>By <a href="https://twitter.com/litenmendryg">@litenmendryg</a></p>
						</div>
					</div>

					<div class="wrapper">	
						<div class="whole-guestion">
								<img src="{{ imagelink }}">
							<p class="question">	
								<h1>{{ question_number }}. {{ question }}</h1>
							</p>	
							<form action="{% url "question_page" quiz.slug question_number %}" method="post">
							{% csrf_token %} 
							<p>
								<label>
									<input type="radio" name="answer" value="1" checked>{{ answer1 }}
								</label>	
							</p>
							<p>
								<label>
									<input type="radio" name="answer" value="2">{{ answer2 }}
								</label>	
							</p>
							<p>
								<label>
									<input type="radio" name="answer" value="3">{{ answer3 }}
								</label>
							</p>	
							<form>
						</div>	
					</div>
			
					<div class="wrapper">	
						<div class="header">
							<div class="whole-guestion">
								<p>
									<h1>
										<button type="submit" class="myButton">Next</button>
									</h1>	
								</p>
							</div>	
						</div>
					</div>

				</div>
			</div>
		</div>	
		
	</body>

</html>